@charset "UTF-8";

:root{
  --title-text: #fff4e6;
  --subtitle-text: #ccc3b8;
  --body-text: #99928a;
  --dark-background: #362a2a;
  --darker-background: #1e1717;
  --darkest-background: #060404;
  scroll-behavior: smooth;
}

.page-design{
  background-color: var(--darkest-background);
  color: var(--body-text);
  font-family: Lato;  
}

#page-top::-webkit-scrollbar {
  width: 20px;
}

#page-top::-webkit-scrollbar-track {
  background-color: transparent;
}

/* #page-top::-webkit-scrollbar-thumb {
  background-image: url('https://i.ibb.co/1RHr40z/248599.png'); 
  background-repeat: no-repeat, no-repeat;
  background-size: 20px;
} */

.section-title{
  color: var(--subtitle-text);
  font-size: 30px;
  text-align: center;
}
.section-text{
  color: var(--body-text);
  font-size: 18px;
  font-weight: 400;
}
.tech-stack-bullets{
  font-size: 20px;
  font-weight: 100;
  column-count: 2;
  column-gap: 30px;
}



.navbar{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 15px;
	float: left;
  width: 100%;
  background-color: var(--darkest-background);
  transition: top 0.5s;
}

.name-link{
  float: left;
  color: var(--title-text);
  font-size: 30px;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.navbar-items{
  list-style: none;
  float: right;
  margin-right: 50px;
}

.navbar-item{
  float: left;
  margin: 0 30px;
}

.navbar-item a {
  display:inline-block;
  color: var(--subtitle-text);
  font-size: 15px;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  
}

/* Change the link color to #111 (black) on hover */
.navbar-item a:hover {
  background-color: var(--darker-background);
  border-radius: 5px;
}

.active {
  background-color: #4CAF50;
}

.big-name-title{
  font-size: 80px;
  font-family: Arial , Helvetica, sans-serif;
  font-stretch: ultra-expanded;
  font-weight: 1000;
  color: var(--title-text);
}
.big-description{
  font-size: 25px;
  font-weight: 300;
  color: var(--title-text);
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.masthead-display{
  display: flex;
  text-align: center;
}

.masthead{
  height: 100vh;
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  position: relative;
  color: var(--title-text);
  text-decoration: none;
}

.link:hover {
  color: var(--title-text);
}


.link::before {
  content: "";
  position: absolute;
  display: flex;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--title-text);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link:hover::before {
  transform: scaleX(1);
}

.about-section{
  height: auto;
  max-width: 800px;
  padding: 10% 0%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-section{
  height: auto;
  padding: 10% 0%;
  max-width: 1000px;
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
}



.experience-tabs {
  float: left;
  
  background-color: transparent;
  border: transparent;
  outline: transparent;
}

/* Style the buttons that are used to open the tab content */
.experience-tabs button {
  align-items: center;
  justify-content: center;
  background-color: inherit;
  color: var(--subtitle-text);
  font-size: 15px;
  text-align: center;
  padding: 15px;
  margin: 15px 0px;
  width: 100%;
  border-radius: 5px;
  border: transparent;
  outline: transparent;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.experience-tabs button:hover {
  background-color: var(--dark-background);
  border: transparent;
  outline: transparent;
}

/* Create an active/current "tab button" class */
.experience-tabs button.active {
  background-color: var(--dark-background);
  border: transparent;
  outline: transparent;
}

/* Style the tab content */
.experience-tab-content {
  float: right;
  padding: 0px 12px;
  width: 60%;
  border-left: none;
}



.projects-section{
  height: auto;
  padding: 10% 0%;
  max-width: 800px;
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
}



.text-left-pic-right{
  padding-top: 15px;
  padding-bottom: 15px;
  display: grid;
  column-gap: 20px;
  margin-left: -150px;
}

.projects-text-left{
  grid-column: 1;
  grid-row: 1;
}

.projects-text-left p{
  margin: 10px;
}

.projects-text-left h3{
  color: var(--subtitle-text);
}

.project-picture-right{
  grid-column: 2;
  grid-row: 1;
  }

.project-picture-right a{
  text-decoration: none;
  grid-column: 2;
  color: transparent;
  transition: 0.25s;
  justify-content: center;
  align-items: center;
}

.project-picture-right a:hover{
  color: var(--body-text);
  opacity: 100%;
  transition: 0.25s;
}

.project-picture-right img{
  max-width: 350px;
  height: auto;
  opacity: 50%;
  transition: 0.4s;
  filter: brightness(90%) saturate(0%) sepia(100%);
  transition: 0.4s;
}

.project-picture-right img:hover{
  opacity: 100%;
  transition: 0.4s;
  filter: none;
  transition: 0.4s;
}




.text-right-pic-left{
  padding-top: 15px;
  padding-bottom: 15px;
  display: grid;
  column-gap: 20px;
  margin-right: -150px;
}

.projects-text-right{
  grid-column: 2;
  grid-row: 1;
}

.projects-text-right p{
  margin: 10px;
}

.projects-text-right h3{
  color: var(--subtitle-text);
}

.project-picture-left{
  grid-column: 1;
  grid-row: 1;
  }

.project-picture-left a{
  text-decoration: none;
  grid-column: 1;
  color: transparent;
  transition: 0.25s;
  justify-content: center;
  align-items: center;
}

.project-picture-left a:hover{
  color: var(--body-text);
  opacity: 100%;
  transition: 0.25s;
}

.project-picture-left img{
  max-width: 350px;
  height: auto;
  opacity: 50%;
  transition: 0.4s;
  filter: brightness(90%) saturate(0%) sepia(100%);
  transition: 0.4s;
}

.project-picture-left img:hover{
  opacity: 100%;
  transition: 0.4s;
  filter: none;
  transition: 0.4s;
}



.contact-section{
  height: auto;
  padding: 10% 0%;
  max-width: 800px;
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
}