@charset "UTF-8";

:root{
  --title-text: #fff4e6;
  --subtitle-text: #e0dedb;
  --body-text: #b7b2ad;
  --dark-background: #362a2a;
  --darker-background: #2b2121;
  --darkest-background: #1b1515;
  scroll-behavior: smooth;
}

.page-design{
  background-color: var(--darkest-background);
  color: var(--body-text);
  font-family: Lato;  
}

.section-title{
  color: var(--subtitle-text);
  font-size: 35px;
  text-align: center;
}
.section-text{
  color: var(--body-text);
  font-size: 20px;
  font-weight: 400;
}
.tech-stack-bullets{
  font-size: 20px;
  font-weight: 100;
  column-count: 2;
  column-gap: 30px;
}



.navbar{
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  padding: 15px;
	float: left;
  width: 100%;
  background: var(--darkest-background);
  transition: top 0.5s;
}

.name-link{
  float: left;
  color: var(--title-text);
  font-size: 30px;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.navbar-items{
  list-style: none;
  float: right;
  margin-right: 50px;
}

.navbar-item{
  float: left;
  margin: 0 30px;
}

.navbar-item a {
  display:inline-block;
  color: var(--subtitle-text);
  font-size: 20px;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  border-radius: 10px;
  background: linear-gradient(to left, transparent 50%, var(--darker-background) 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
}

/* Change the link color to #111 (black) on hover */
.navbar-item a:hover {
  background-position: left;
}

.big-name-title{
  font-size: 100px;
  font-stretch: ultra-expanded;
  font-weight: 1000;
  color: var(--title-text);
}
.big-description{
  font-size: 25px;
  font-weight: 300;
  color: var(--title-text);
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  padding-top: var(--bs-gutter-x, 0.75rem);
  padding-bottom: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.masthead-display{
  display: flex;
  text-align: center;
}

.masthead{
  height: 100vh;
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  position: relative;
  color: var(--title-text);
  text-decoration: none;
}

.link:hover {
  color: var(--title-text);
}


.link::before {
  content: "";
  position: absolute;
  display: flex;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--title-text);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link:hover::before {
  transform: scaleX(1);
}

.about-section{
  height: auto;
  max-width: 800px;
  padding: 15vh 0vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-section{
  min-height: 750px;
  padding: 15vh 0vh;
  display: grid;
  grid-template-rows: min-content;
  justify-content: center;
  align-items:first baseline;
}



.tab-container {
  background-color: transparent;
  border: 0px transparent;
  outline: 0px transparent;
  display: flex;
  flex-wrap: wrap;
  max-width: 750px;
  margin: 20px ;
}

.tab-container input[type="radio"]{
  display: none;
}

.tab-container label{
  padding: 20px;
  height: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  border-radius: 10px;
  font-size: 20px;
  background: linear-gradient(to left, var(--darkest-background) 50%, var(--darker-background) 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
}

.tab-container label:hover{
  background: linear-gradient(to right, var(--darker-background) 50%, var(--darkest-background) 50%) left;
  background-size: 200%;
  transition: .5s ease-out;
}


.tab-container .tab{
  order: 1;
  margin-bottom: auto;
  display: none;
}

.tab-container input[type="radio"]:checked + label + .tab{
  display: block;
}

.tab-container input[type="radio"]:checked + label{
  background: var(--darker-background);
}

.tab-container h3{
  font-size: 30px;
}
.tab-container h4{
  font-size: 22px;
  font-style: italic;
  margin-top: -20px;
}


.projects-section{
  height: auto;
  padding: 15vh 0vh;
  max-width: 800px;
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
}



.text-left-pic-right{
  padding-top: 15px;
  padding-bottom: 15px;
  display: grid;
  column-gap: 20px;
  margin-left: -150px;
}

.projects-text-left{
  grid-column: 1;
  grid-row: 1;
  margin-top: auto;
  margin-bottom: auto;
}

.projects-text-left p{
  margin: 10px;
}

.projects-text-left h3{
  color: var(--subtitle-text);
}

.project-picture-right{
  grid-column: 2;
  grid-row: 1;
  margin-top: auto;
  margin-bottom: auto;
  }

.project-picture-right a{
  text-decoration: none;
  grid-column: 2;
  color: transparent;
  transition: 0.25s;
  justify-content: center;
  align-items: center;
}

.project-picture-right a:hover{
  color: var(--body-text);
  opacity: 100%;
  transition: 0.25s;
}

.project-picture-right img{
  max-width: 350px;
  height: auto;
  
  opacity: 50%;
  transition: 0.4s;
  filter: brightness(90%) saturate(0%) sepia(100%);
  transition: 0.4s;
}

.project-picture-right img:hover{
  opacity: 100%;
  transition: 0.4s;
  filter: none;
  transition: 0.4s;
}




.text-right-pic-left{
  padding-top: 15px;
  padding-bottom: 15px;
  display: grid;
  column-gap: 20px;
  margin-right: -150px;
}

.projects-text-right{
  grid-column: 2;
  grid-row: 1;
  margin-top: auto;
  margin-bottom: auto;
}

.projects-text-right p{
  margin: 10px;
}

.projects-text-right h3{
  color: var(--subtitle-text);
}

.project-picture-left{
  grid-column: 1;
  grid-row: 1;
  margin-top: auto;
  margin-bottom: auto;
  }

.project-picture-left a{
  text-decoration: none;
  grid-column: 1;
  color: transparent;
  transition: 0.25s;
  justify-content: center;
  align-items: center;
}

.project-picture-left a:hover{
  color: var(--body-text);
  opacity: 100%;
  transition: 0.25s;
}

.project-picture-left img{
  max-width: 350px;
  height: auto;
  opacity: 50%;
  transition: 0.4s;
  filter: brightness(90%) saturate(0%) sepia(100%);
  transition: 0.4s;
}

.project-picture-left img:hover{
  opacity: 100%;
  transition: 0.4s;
  filter: none;
  transition: 0.4s;
}



.contact-section{
  height: auto;
  padding: 20vh 0vh;
  max-width: 800px;
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--darker-background);
  border-radius: 30px;
  border: 2px solid var(--body-text);
  
}

.email-form{
  width: 500px;
  display: grid;
  row-gap: 15px;
}

.one-line-input{
  height: 20px;
  padding: 10px;
  background-color: transparent;
  color: var(--body-text);
  font-size: 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--body-text);
}

.one-line-input::placeholder{
  border: none;
  outline: none;
  color: var(--body-text);
  font-size: 15px;
}

.one-line-input:focus{  
  outline: none;
}

.multi-line-input{
  padding: 10px;
  resize: none;
  background-color: transparent;
  color: var(--body-text);
  outline: none;
  border: none;
  border-bottom: 1px solid var(--body-text);
  font-family: Lato;
  font-size: 15px;
}

.multi-line-input::placeholder{
  border: none;
  outline: none;
  color: var(--body-text);
  font-family: Lato;
  font-size: 15px;
}

.multi-line-input:focus{  
  outline: none;
}

.submit-button{
  padding: 10px;
  background-color: transparent;
  border: 2px solid var(--body-text);
  border-radius: 10px;
  font-size: 15px;
  color: var(--body-text);
  background: linear-gradient(to left, transparent 50%, var(--body-text) 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
}

.submit-button:hover{
  background-position: left;
}

.socials{
  display: grid;
  column-count: 3;
  margin: 15px;
  margin-top: 50px;
}

.c1{
  grid-column: 1;
  justify-content: center;
}

.c2{
grid-column: 2;
justify-content: center;
}

.c3{
grid-column: 3;
justify-content: center;
}

.social-icon {
  display: flex;
  color: var(--body-text);
  
}